
body{
    background-color: #070707;;
    color: white;
}
img{
    border-radius: 30px;
    margin: 0px auto;
    display: block;
}
h1{
    font-size: 40px;
    width: fit-content;
    margin-inline: auto;
    padding: 5px;
    border-radius: 10px;
    background-color:rgb(20, 128, 252);
    color: white;
}
h2{
    font-size: 40px;
   width: fit-content;
    margin-inline: auto;
    padding: 5px;
    border-radius: 10px;
    background-color:rgb(20, 128, 252);
    color: white;
}
h3{
    font-size: 40px;
    width: fit-content;
    margin-inline: auto;
    padding: 5px;
    border-radius: 10px;
    background-color:rgb(20, 128, 252);
    color: white;
}
.parrafo {
    font-size: 23px ;
    /* margin: 20px 20px; */
}
.link{
    font-size: 23px ;
    color: rgba(252, 52, 52, 0.76);
}
iframe{
    border-radius: 10px;
    margin: 0px auto;
    display: block;
}
ol{
    font-size: 23px ;
}
ul{
    font-size: 23px ;
}
mark{
    color: white;
    background-color: #f100005d ;
    border-radius: 5px;
}
table{
    margin: 50px auto;
    font-size: 25px;
    color:#fa0303be;
}
tr{
    color: white;
}
time{
    margin: 100px auto;
    display: block;
    font-size: 30px;
    background-color:rgb(20, 128, 252);
    border-radius: 10px;
}
footer{
    /* margin: 50px 50px; */
}
.link{
    font-size: 23px ;
    /* margin: 20px 20px; */
    color: #e9e3e3b7;;
}
footer{
    font-size: 23px ;
}
fieldset{
    background-color: rgba(248, 24, 24, 0.144);
}